[Desktop Entry]
Name=fixPanel
Exec=sh -c "gnome-extensions disable blur-my-shell@aunetx; gnome-extensions enable blur-my-shell@aunetx"
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
